.chat {
  /* width: 60px;
  height: 60px; */
  padding: 0;
  border: 0;
  background-color: mediumslateblue;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.icon {
  padding: 16px 18px 16px 16px;
  color: #fff;
  font-size: 26px;
}
