<!-- <div class="card">
  <h3 class="title">{{ title }}</h3>
  <div class="imageContainer">
    <img [src]="imageUrl" alt="card image" />
    <div class="content">
      <p>{{ name }}</p>
      <p class="description">{{ description }}</p>
    </div>
  </div>
</div> -->

<!-- card 1 -->
<div class="card">
  <h3 class="title">상담목록</h3>
  <div class="imageContainer">
    <img src="https://via.placeholder.com/150" alt="card image" />
    <div class="content">
      <p>ooo매니저</p>
      <p class="description">
        #쇼핑몰, #플랫폼, #커머스 등 앱/웹 서비스 제작을 고민 중이신가요?
      </p>
    </div>
    <div class="hover">
      <button type="button">
        <p>
          <span></span>
          <span></span>
          <span></span>
        </p>
      </button>
    </div>
  </div>
</div>

<!-- card 2 -->
<div class="card">
  <h3 class="title">상담목록</h3>
  <div class="imageContainer">
    <img src="https://via.placeholder.com/150" alt="card image" />
    <div class="content">
      <p>ooo매니저</p>
      <p class="description">
        #쇼핑몰, #플랫폼, #커머스 등 앱/웹 서비스 제작을 고민 중이신가요?
      </p>
    </div>
    <div class="hover">
      <button type="button">
        <p>
          <span></span>
          <span></span>
          <span></span>
        </p>
      </button>
    </div>
  </div>
</div>
