<div class="modal" *ngIf="showModal">
  <div class="modalWrap">
    <div class="modalContainer">
      <div class="top">
        <div class="logo">
          <img
            src="https://cdn.logo.com/hotlink-ok/logo-social.png"
            alt="logo"
          />
        </div>
        <h2>웨인힐스</h2>
        <button class="settingBtn" (click)="settingToggle()">
          <mat-icon class="settingBtnIcon">settings</mat-icon>
        </button>
        <button class="closeBtn" (click)="closeModal()">
          <mat-icon class="closeIcon">close</mat-icon>
        </button>
      </div>
      <div class="center">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <app-card></app-card>
      </div>
    </div>
    <app-setting
      class="settingModal"
      *ngIf="showSetting"
      (close)="settingToggle()"
    ></app-setting>
  </div>
</div>
