<div class="modal">
  <div class="modalWrap">
    <div class="modalContainer">
      <div class="top">
        <button class="closeBtn" (click)="closeModal()">
          <mat-icon class="closeIcon">close</mat-icon>
        </button>
      </div>
      <div class="center">
        <div class="modalView">
          <p class="textBox">무엇을 도와드릴까요?</p>
        </div>
      </div>
      <div class="bottom">
        <input type="text" placeholder="문의 내용을 입력하세요." />
        <button type="button" class="sendBtn">
          <mat-icon class="sendIcon">send</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
